cassandra:
  image: cassandra:2.2
  container_name: kong-tests-cassandra
  ports:
    - "9042:9042"

postgres:
  build: ./postgres
  container_name: kong-tests-postgres
  ports:
    - "5432:5432"

redis:
  image: redis
  container_name: kong-tests-redis
  ports:
    - "6379:6379"
